<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.praise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Praise">
        <activity
            android:name=".pages.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".pages.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".tools.speedConvert.MainActivity"
            android:label="Speed Convert" />
        <activity
            android:name=".tools.caesarCipher.MainActivity"
            android:label="Caesar Cipher" />
        <activity
            android:name=".tools.temperature.MainActivity"
            android:label="Temperature Convert" />
        <activity
            android:name=".tools.massConverter.MainActivity"
            android:label="Mass Convert" />
        <activity
            android:name=".tools.sha256Generator.MainActivity"
            android:label="SHA256 Generator" />
        <activity
            android:name=".tools.sha1Generator.MainActivity"
            android:label="SHA1 Generator" />
        <activity
            android:name=".tools.calculator.MainActivity"
            android:label="Simple Calculator" />
        <activity
            android:name=".tools.md5Generator.MainActivity"
            android:label="MD5 Generator" />
        <activity
            android:name=".tools.qibla.MainActivity"
            android:label="Qibla Compass" />
        <activity
            android:name=".tools.numberConvert.MainActivity"
            android:label="Number Convert" />
        <activity
            android:name=".tools.praise.MainActivity"
            android:label="Praise Tool" />
        <activity
            android:name=".tools.currencyConvert.MainActivity"
            android:label="Currency Convert" />
        <activity
            android:name=".SingleCategoryActivity"
            android:parentActivityName=".HomePageActivity" />
        <activity
            android:name=".HomePageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>